.aspect-ratio-banner {
  aspect-ratio: 1440 / 600;
}
.aspect-ratio-hot {
  aspect-ratio: 190 / 180;
}
.aspect-ratio-bannerQc {
  aspect-ratio: 1440 / 315;
}
.aspect-ratio-kiemhiep {
  aspect-ratio: 244 / 160;
}

.title {
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  .title {
    font-size: 0.75rem;
  }
  .title-1 {
    font-size: 1.5rem !important;
  }
  .home p.desc {
    font-size: 0.9rem !important;
  }
  .home .btn {
    font-size: 0.7rem !important;
  }
  .phimhot .overlay {
    font-size: 0.35rem !important;
    gap: -30px !important;
  }
  .phimhot .overlay .btn {
    font-size: 0.3rem !important;
    padding: 3px 6px;
    margin-left: 5px;
  }
  .phimhot .overlay p {
    margin-bottom: 5px !important;
  }
}

/* ============ */
.phimhot .content {
  position: relative;
}
.phimhot .content .imghot {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.phimhot .content:hover .imghot {
  opacity: 0.3;
}
.phimhot .content:hover .overlay {
  opacity: 1;
}
.phimhot .overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.phimhot .overlay .price {
  color: red;
}

.home .content-new {
  width: 300px;
}
.home .btn {
  border: 1px solid white;
}
.home .btn:hover {
  background-color: rgb(77, 101, 25);
  opacity: 0.5;
}
